@model IEnumerable<IdentityTest.Models.Movie>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PremierDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                <a onclick="showInPopup('@Url.Action("AddOrEdit", "Movies", null, Context.Request.Scheme)','Новый фильм')" class="btn btn-success">Добавить фильм</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PremierDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director)
                </td>
                <td>
                    <a onclick="showInPopup('@Url.Action("AddOrEdit","Movies", new { id = item.Id }, Context.Request.Scheme)', 'Update Film')" class="btn btn-info"> Edit</a>
                    |
                    <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                        <input type="submit" class="btn btn-danger" value="Delete" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>




